.button{
    background-color: rgb(198, 47, 12);
    border : none;
    color : white;
    padding-inline :1rem;
    padding-block: 0.5rem;
    cursor : pointer;
    font-size : 16px;
    text-decoration: none;
    transition : all 0.3s ease;
    border-radius: 0.5rem;
    cursor: pointer;
}